# Reward parameters
# Beta: Scaling factor for penalizing large changes in control signals
# Epsilon: Scaling factor for the desired error gap around omega_target
# Alpha: Scaling factor for rewarding smaller control signal values
# Max_penalty: To heavily penalize for certain actions and make sure they never happen again
[PARAMETERS]

Beta = 200
Epsilon = 0.1 
Alpha = 5 
Max_penalty = 1000000000
